body{
	background: black;
}

p{
	color: white;
	font-size: 50px;
}
/* # é usado para chamar o id */
#div1 h1{
	color: red;
}

#div2 h1{
	color: blue;
}

/* para chamar classe usa-se . */

/* tem como usar para div filha tbm */

/* caso tenha > significa que ele vai atacar so oq estiver dentro diretamente da 1ª div 
caso contrario não aparecerá nada, sem > vai buscar tudo dentro da class ou id que tenha a tag em questão*/

.div3 > h1{ 
	color: gray;
}
.div3 h1{
	color: green;
}

/* o id é usado com conteudo sempre diferentes e nunca repetidos pois no JavaScript dará erro e 
caso vc queira usar de forma repetida para que não dê erro usa-se class */

