/*Inherit faz com q as Classes Fihas herdem os 
atributos das funções da Classe Pai*/

/*Auto serve para alguns atributos, como hegth, width, etc; ele ajuda
ajustando as coisas*/

/*Initial determino o valor inial por padrão do navegador*/

*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}

.box{
	font-size: 30px;
	width: 400px;
	height: auto;/*padrão*/
	background: gray;
}

.box > .box2 > span{
	display: inline-block; /*para setar as dimensões*/
	color: initial;/*A cor inicial é preta por padrão*/
	width: inherit;
	height: inherit;
	background: inherit;
}